{
  "discord_webhook_url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
  "cookies": {
    "WHATAP": "",
    "XTVID": "",
    "infoSysCd": "",
    "_harry_ref": "",
    "_harry_url": "https://www.g2b.go.kr/",
    "_harry_fid": "",
    "xloc": "1920X1080",
    "_harry_lang": "ko-KR",
    "system_language": "ko",
    "lastAccess": "",
    "globalDebug": "false",
    "JSESSIONID": "여기에_브라우저에서_복사한_JSESSIONID_값",
    "poupR23AB00000134631": "done"
  },
  "payload": {
    "dlBidPbancLstM": {
      "untyBidPbancNo": "",
      "bidPbancNo": "",
      "bidPbancOrd": "",
      "prcmBsneUntyNoOrd": "",
      "prcmBsneSeCd": "",
      "bidPbancNm": "",
      "pbancPstgDt": "",
      "ldocNoVal": "",
      "bidPrspPrce": "",
      "ctrtDmndRcptNo": "",
      "dmstcOvrsSeCd": "",
      "pbancKndCd": "",
      "ctrtTyCd": "",
      "bidCtrtMthdCd": "",
      "scsbdMthdCd": "",
      "fromBidDt": "",
      "toBidDt": "",
      "minBidPrspPrce": "",
      "maxBidPrspPrce": "",
      "bsneAllYn": "Y",
      "frcpYn": "Y",
      "rsrvYn": "Y",
      "laseYn": "Y",
      "untyGrpGb": "DMST",
      "dmstNm": "",
      "pbancPicNm": "",
      "odnLmtLgdngCd": "",
      "odnLmtLgdngNm": "",
      "intpCd": "",
      "intpNm": "",
      "dtlsPrnmNo": "",
      "dtlsPrnmNm": "",
      "slprRcptDdlnYn": "",
      "lcrtTyCd": "",
      "isMas": "",
      "isElpdt": "",
      "oderInstUntyGrpNo": "",
      "instSearchRangeYn": "",
      "esdacYn": "",
      "infoSysCd": "",
      "contxtSeCd": "",
      "bidDateType": "R",
      "brcoOrgnCd": "",
      "deptOrgnCd": "",
      "isShop": "",
      "srchTy": "0",
      "cangParmVal": "",
      "currentPage": "",
      "recordCountPerPage": "10",
      "startIndex": 1,
      "endIndex": 10
    }
  }
}
